[Unit]
Description=CNSM 2027 study workload generator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/cnsm-study/workloads/{{ 'web_load_generator.sh' if 'web' in group_names else 'db_load_generator.sh' if 'db' in group_names else 'memory_load_generator.sh' if 'memory' in group_names else 'io_load_generator.sh' if 'io' in group_names else 'noop_workload.sh' }}
Restart=always
RestartSec=10
User=root
StandardOutput=append:/var/log/cnsm-workloads/service.log
StandardError=append:/var/log/cnsm-workloads/service.log

[Install]
WantedBy=multi-user.target
