[Unit]
Description=CNSM 2027 study workload generator
After=network-online.target {{ 'postgresql.service' if workload_db_engine == 'postgres' else 'redis-server.service' }}
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/cnsm-study/workloads/db_load_generator.sh
Restart=always
RestartSec=10
User=root
StandardOutput=append:/var/log/cnsm-workloads/service.log
StandardError=append:/var/log/cnsm-workloads/service.log

[Install]
WantedBy=multi-user.target
